.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 15px;
	background: rgb(12, 104, 180);
	color: #fff;
	font-size: 12px;
	font-weight: 200;
	letter-spacing: 2px;
}
.footer__copyright {
	margin: 0 0 6px;
}
